.App {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    // background-image: "/Users/natashagroome/dev/stomp-the-divots/src/pages/resources/polobackground.jpeg";
}
  
.Welcome {
    font-size:xx-large;
}
