.months {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.feedback {
  padding: 2rem;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  max-width: 1500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: url("/src/components/atoms/resources/polobackground2.jpeg");
}
