body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.posts {
  text-align: center;
}

.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form,
.posts {
  margin-top: 3rem;
}

.form {
  text-align: left;
}

.about {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.poloLessons {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.experienceDays {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.poloLivery {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.sponsorship {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.merchandise {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.chukkas {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.contact {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.bookNow {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.meettheteam {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.months {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@import "../src/pages/photos/video.scss";

@import "../src/pages/contact/meettheteam.scss";

@import "../src/pages/months/months.scss";

@import "../src/pages/months/content.scss";

.navigationBar {
  max-width: 1500px;
  text-align: center;
  margin: 0 auto;
}

.welcomeInfo {
  max-width: 1500px;
  text-align: center;
}

.content {
  max-width: 1500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: url("/src/components/atoms/resources/polobackground2.jpeg");
}
