body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.posts {
  text-align: center;
}

.App {
  max-width: 1500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: url("/src/components/atoms/resources/polobackground2.jpeg");
}

.form,
.posts {
  margin-top: 3rem;
}

.form {
  text-align: left;
}

.About {
  max-width: 1500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: url("/src/components/atoms/resources/polobackground2.jpeg");
}

.PoloLessons {
  max-width: 1500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: url("/src/components/atoms/resources/polobackground2.jpeg");
}

.ExperienceDays {
  max-width: 1500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: url("/src/components/atoms/resources/polobackground2.jpeg");
}

.PoloLivery {
  max-width: 1500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: url("/src/components/atoms/resources/polobackground2.jpeg");
}

.Sponsorship {
  max-width: 1500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: url("/src/components/atoms/resources/polobackground2.jpeg");
}

.Merchandise {
  max-width: 1500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: url("/src/components/atoms/resources/polobackground2.jpeg");
}

.Chukkas {
  max-width: 1500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: url("/src/components/atoms/resources/polobackground2.jpeg");
}

.Contact {
  max-width: 1500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: url("/src/components/atoms/resources/polobackground2.jpeg");
}

.BookNow {
  max-width: 1500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: url("/src/components/atoms/resources/polobackground2.jpeg");
}

.months {
  max-width: 1500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: url("/src/components/atoms/resources/polobackground2.jpeg");
}

.NavigationBar {
  max-width: 1500px;
  margin: 0;
  text-align: center;
  padding: 0;
  display: flex !important;
  justify-content: space-around !important;
}

.WelcomeInfo {
  max-width: 1500px;
  text-align: center;
}

.Feedback {
  padding: 2rem;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
}

.content {
  max-width: 1500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: url("/src/components/atoms/resources/polobackground2.jpeg");
}
