body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.posts{
  text-align: center;
  
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form,.posts{
  margin-top: 3rem;
  
}

.form {
  text-align: left;
}

.About {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.PoloLessons {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.ExperienceDays {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.PoloLivery {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Sponsorship {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Merchandise {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Chukkas {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Contact {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.BookNow {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.meettheteam{
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Months{
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@import '../src/pages/photos/video.scss';

@import '../src/pages/contact/meettheteam.scss';

@import '../src/pages/months/Months.scss';

.NavigationBar{
  max-width: 1500px;
  text-align: center;
  margin: 0 auto;
}